.shopping-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    color: black;
    padding: 0;
    margin: 1rem;
    width: 100%;

    .content{
        display: flex;

    }

    #antall{
        background-color: black;
    }
    
}

